@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: url("/bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* scrollbar configuration style */
::-webkit-scrollbar {
  cursor: pointer;
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #3d3c38;
}
::-webkit-scrollbar-thumb {
  background: #25282a;
  border-radius: 7px;
}
::-webkit-scrollbar-thumb:hover {
  background: #212223;
}